@model SGV_Booking.ViewModels.BookingInfoProcess;

<body>
    <p>tsting: @Model.customerFirstName</p>
    <div class="container">
        <h1 class="display-header">Booking Summary</h1>     
        <form action="@Url.Action("BookingSummary", "Booking")" method="POST">

            <input name="guestNumber" value="@Model.guestNumber">
            <input name="banquetOption" value="@Model.banquetOption">
            <input name="datePicker" value="@Model.datePicker">
            <input name="timePicker" value="@Model.timePicker">
            <input name="restaurantSelect" value="@Model.restaurantSelect">
            <input name="bookingNotes" value="@Model.bookingNotes">

            <input name="customerFirstName" value="@Model.customerFirstName">
            <input name="customerLastName" value="@Model.customerLastName">
            <input name="customerPhone" value="@Model.customerPhone">
            <input name="customerEmail" value="@Model.customerEmail">






            <input type="submit" id="submitButton" value="Confirm Booking"/>
        </form>
    </div>

    <script>
        var firstName = sessionStorage.getItem("firstName");
        var lastName = sessionStorage.getItem("lastName");
        var email = sessionStorage.getItem("email");
        var phoneNumber = sessionStorage.getItem("phoneNumber");
        var dietaryRequirements = sessionStorage.getItem("dietaryRequirements");
        var selectedGuests = sessionStorage.getItem("selectedGuests");
        var selectedDate = sessionStorage.getItem("selectedDate");
        var selectedTime = sessionStorage.getItem("selectedTime");
        var selectedRestaurant = sessionStorage.getItem("selectedRestaurant");
        var selectedBanquet = sessionStorage.getItem("selectedBanquet");

        document.getElementById("firstName").value = firstName;
        document.getElementById("lastName").value = lastName;
        document.getElementById("email").value = email;
        document.getElementById("phoneNumber").value = phoneNumber;
        document.getElementById("dietaryRequirements").value = dietaryRequirements;
        document.getElementById("guestCount").value = selectedGuests;
        document.getElementById("dateTime").value = selectedDate;
        document.getElementById("bookingTime").value = selectedTime;
        document.getElementById("selectedRestaurant").value = selectedRestaurant;
        document.getElementById("selectedBanquet").value = selectedBanquet;

    </script>
</body>
</html>
