@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2 style="text-align: center">Register Details</h2>



<p style="text-align: center">Email: @ViewBag.email</p>

<p style="text-align: center">First Name: @ViewBag.firstName</p>


<p style="text-align: center">Last Name: @ViewBag.lastName</p>


<p style="text-align: center">Address: @ViewBag.address</p>


<p style="text-align: center">Phone No.: @ViewBag.phoneNumber</p>


<p style="text-align: center">Password: @ViewBag.password</p>




<div class="row justify-content-center">
    <div class="col-auto">
        <a href="/Home/Index" class="btn btn-outline-primary">Confirm</a>
    </div>
</div>